@charset "utf-8";

#wrap{
   width: calc(74px * 9 + 37px * 2);
   margin: 0 auto;
   /*background-color: pink;*/
}

section>.thmbs{
   display: flex;
   margin-bottom: 10px;
}

section>.thmbs>a{
   display: block;
   width: 37px;
   height: 74px;
   text-indent: -9999px;   
   background-image: url(./../images/sp_btn.png);
}

section>.thmbs>a.prev{background-position:-310px -300px;}
section>.thmbs>a.next{background-position:-310px -376px;}

section>.thmbs>ul{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

section>.thmbs>ul>li{
   width: 74px;
}

section>.thmbs>ul>li:nth-child(1){background-image: url(./../images/thumb1.jpg);}
section>.thmbs>ul>li:nth-child(2){background-image: url(./../images/thumb2.jpg);}
section>.thmbs>ul>li:nth-child(3){background-image: url(./../images/thumb3.jpg);}
section>.thmbs>ul>li:nth-child(4){background-image: url(./../images/thumb4.jpg);}
section>.thmbs>ul>li:nth-child(5){background-image: url(./../images/thumb5.jpg);}
section>.thmbs>ul>li:nth-child(6){background-image: url(./../images/thumb6.jpg);}
section>.thmbs>ul>li:nth-child(7){background-image: url(./../images/thumb7.jpg);}
section>.thmbs>ul>li:nth-child(8){background-image: url(./../images/thumb8.jpg);}
section>.thmbs>ul>li:nth-child(9){background-image: url(./../images/thumb9.jpg);}

section>.thmbs>ul>li>a{
   display: block;
   height: 74px;
   text-indent: -9999px;
}

section>.thmbs>ul>li:hover>a,
section>.thmbs>ul>li.on>a{
	border: 5px solid red;
	box-sizing: border-box;
}

/* 두줄 말줄임 처리 */
p.two{}




section>p{
   height: 400px;
   text-indent: -9999px;
   background-image: url(./../images/big1.jpg);
}














