@charset "utf-8";

.slides{
   display: flex;
   width: calc(150px * 8);
   margin: 0 auto;
}

.slides>p{
   overflow: hidden;
   width: 150px;
   background-color: #ff0;
   transition: all 0.4s ease-in-out 0s;
}

.slides>p:hover{
   width: 700px;
}

.slides>p>img{
   display: block;
   /*border: 1px solid black;*/
}